.app {
  --color-container-bg: var(--color-hawkes-blue);
  --color-content-bg: var(--color-white);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-container-bg);
}

.content {
  max-width: 496px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 8px;
  background-color: var(--color-content-bg);
}
