:root {
  /* Color name by hex: http://chir.ag/projects/name-that-color */
  --color-white: #fff;
  --color-hawkes-blue: #d4eafd;
  --color-waikawa-gray: #5a7494;
  --color-biscay: #1a3b5d;
  --color-geyser: #ced6e0;
  --color-dodger-blue: #3d9cff;
}
